body {
  font-family: sans-serif;
  background: #f2f2f2;
}

.card {
  width: 380px;
  background: #fff;
  margin: 40px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

h2 {
  text-align: center;
}

select {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 15px;
}

#map {
  height: 220px;
  border-radius: 15px;
  margin-bottom: 10px;
}

#locationText {
  text-align: center;
  font-size: 14px;
}

.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.btn {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.checkin {
  background: black;
  color: white;
}

.checkout {
  background: #eee;
}
